In [1]:
#Gadhiya Jalpa
#216270307103
'''Write a Pandas program to implement following operation
 to create a dataframe from a dictionary and display it
 to sort the DataFrame first by 'name' in ascending order
 to delete the one specific column from the DataFrame
 to write a DataFrame to CSV file using tab separator'''
import numpy as np 
import pandas as pd

In [2]:
#Gadhiya Jalpa
#216270307103
'''Write a Pandas program to implement following operation
 to create a dataframe from a dictionary and display it'''

data=pd.DataFrame({'rollno':[1,2,3,4,5],'name':['sayam','sita','mayur','raj','mansi'],'address':['ranavav','porbandar','kutiyana','morbi','ranavav']})

print("Dataframe is:\n",data)

Dataframe is:
    rollno   name    address
0       1  sayam    ranavav
1       2   sita  porbandar
2       3  mayur   kutiyana
3       4    raj      morbi
4       5  mansi    ranavav

In [3]:
#Gadhiya Jalpa
#216270307103
'''Write a Pandas program to implement following operation
 to sort the DataFrame first by 'name' in ascending order'''

data_new=data.sort_values(by=['address'],ascending=True)
print(data_new)

   rollno   name    address
2       3  mayur   kutiyana
3       4    raj      morbi
1       2   sita  porbandar
0       1  sayam    ranavav
4       5  mansi    ranavav

In [4]:
#Gadhiya Jalpa
#216270307103
'''Write a Pandas program to implement following operation
to delete the one specific column from the DataFrame'''

del data['address']
print(data)

   rollno   name
0       1  sayam
1       2   sita
2       3  mayur
3       4    raj
4       5  mansi

In [5]:
#Gadhiya Jalpa
#216270307103
'''Write a Pandas program to implement following operation
to write a DataFrame to CSV file using tab separator'''

dataframe=pd.DataFrame({'rollno':[1,2,3,4,5],'name':['sayam','sita','mayur','raj','mansi'],'sem':[3,4,2,5,1],
                   'address':['ranavav','porbandar','kutiyana','morbi','ranavav']})

print(dataframe)

file_path="student_dataset.csv"

dataframe.to_csv(file_path,index=False)

   rollno   name  sem    address
0       1  sayam    3    ranavav
1       2   sita    4  porbandar
2       3  mayur    2   kutiyana
3       4    raj    5      morbi
4       5  mansi    1    ranavav